# Misc/General
AIRFLOW_IMAGE_NAME=apache/airflow:3.2.0
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
AIRFLOW_WEBSERVER_PORT=8080

# Secutiry
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW__CORE__FERNET_KEY=HaxuH4fFVO76io7SKMZ6xIqNf2ai8m4e1JTxvHSQ_Vs=
# python -c "import secrets; print(secrets.token_hex(32))"
AIRFLOW__WEBSERVER__SECRET_KEY=184361bcf569d051e88d2270c94e80e07ed5152c989034d8878ab4dff4b4feb9
# python -c "import secrets; print(secrets.token_hex(64))"
AIRFLOW__API_AUTH__JWT_SECRET =9438a27c8bbff3a6df8ca29ab41cbc6eb65ce37c5beb43e69b199e3cc023668c87f435144d00518844e0416f93ac604c14e55cf155ea8dfb640163d499a8337f

# PostgreSQL
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# Redis
# Leave blank to disable authentication (not recommended for production)
REDIS_PASSWORD=admin

# Usuário Admin da UI
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
_AIRFLOW_WWW_USER_EMAIL=admin@admin.com

# SMTP (opcional)
# SMTP_USER=admin@admin.com
# SMTP_PASSWORD=admin
